@import "reset.css";

@font-face {
    font-family: 'Sugar';
    src: url('Fonts/give me some sugar_2.ttf');
}

@mixin buttonLayout {
    height: 80px;
    font-size: 2rem;
    font-family: Sugar, sans-serif;
    border: 1px solid $btn-clr;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    cursor: pointer;
    color: $btn-clr;
    border-radius: 10px;
    outline: 0;

    &:hover {
        background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
    }
}

$btn-clr: whitesmoke;

body {
    //background: red;
    background: url(../Images/Backgrounds/planets.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: 2s all;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    header {
        font-size: 2rem;
        padding: 10px;
    }

    header, footer {
        //border: 1px solid red;text-align: center;
        font-family: Sugar, sans-serif;
        color: $btn-clr;
        text-align: center;
    }

    .container {
        //border: 1px solid green;
        width: 700px;
        height: 550px;
        margin: 0 auto;
        position: relative;

        #overlay {
            //border: 1px solid blue;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            //background: #ddd;
            #start {
                box-sizing: border-box;
                color: $btn-clr;
                width: 100%;
                //background: red;
                text-align: center;
                display: flex;
                //display: none;
                flex-flow: row wrap;
                justify-content: center;

                .bonusses {
                    background: url('../Images/bonus.png') no-repeat;
                    background-position: 40px 10px;
                }

                .bombs {
                    background: url('../Images/bomb.png') no-repeat;
                    background-size: 12%;
                    background-position: 40px 10px;
                }

                .info-wrapper {
                    background: rgba(0,0,0,0.5);
                    font-family: Sugar, sans-serif;
                    width: 200px;
                    box-sizing: border-box;
                    padding: 10px 0;

                    .bomb-info {
                        line-height: 200%;
                    }

                    li {
                        padding: 10px;

                        span {
                            font-family: Arial, sans-serif;
                        }
                    }

                    div {
                        padding-top: 12px;
                        font-size: 1.2rem;
                    }
                }
            }

            input {
                @include buttonLayout();
            }
        }

        #restart {
            display: none;
            flex-flow: column wrap;
            justify-content: center;

            .over-menu {
                color: $btn-clr;
                font-family: Sugar, sans-serif;
                text-align: center;
                font-size: 2rem;

                div {
                    margin: 10px;

                    &:first-of-type {
                        font-size: 3rem;
                        font-weight: 900;
                    }

                    span {
                        font-family: fantasy;
                        margin-left: 10px;
                        font-size: 1.5rem;
                    }
                }
            }

            .btn-container {
                display: flex;
                flex-flow: column wrap;

                input {
                    @include buttonLayout();
                    margin: 0 auto;
                    display: none;
                }
            }
        }
    }

    #canvas {
        display: none;
        border: 1px solid #000;
        z-index: 0;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 2px;
    }

    aside {
        position: absolute;
        margin-top: 535px;
        //background: blue;
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        z-index: 1;
        display: none;

        .score-info {
            margin-right: 20px;
        }
    }
}

footer {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;
    justify-content: center;
    position: relative;
    //border: 1px solid green;
    h2 {
        padding-left: 20px;
        position: absolute;
        line-height: 120%;
    }

    div {
        //background: red;
        width: 100%;

        input {
            border: 1px solid $btn-clr;
            border-radius: 4px;
            background: rgba(0,0,0,0);
            color: $btn-clr;
            font-family: Sugar, sans-serif;
            outline: 0;
            cursor: pointer;

            &:hover {
                background: rgba(0,0,0,0.9);
            }
        }
    }
}
