@import url(reset.css);
@font-face {
  font-family: 'Sugar';
  src: url('Fonts/give me some sugar_2.ttf'); }

body {
  background: url(../Images/Backgrounds/planets.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: 2s all; }

.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center; }
  .wrapper header {
    font-size: 2rem;
    padding: 10px; }
  .wrapper header, .wrapper footer {
    font-family: Sugar, sans-serif;
    color: whitesmoke;
    text-align: center; }
  .wrapper .container {
    width: 700px;
    height: 550px;
    margin: 0 auto;
    position: relative; }
    .wrapper .container #overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center; }
      .wrapper .container #overlay #start {
        box-sizing: border-box;
        color: whitesmoke;
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center; }
        .wrapper .container #overlay #start .info-wrapper {
          background: rgba(0, 0, 0, 0.5);
          border-radius: 2px; }
          .wrapper .container #overlay #start .info-wrapper div {
            padding: 15px; }
            .wrapper .container #overlay #start .info-wrapper div:first-of-type {
              font-size: 1.2rem;
              font-family: Sugar, sans-serif; }
        .wrapper .container #overlay #start input {
          margin-left: 30px;
          height: 80px;
          font-size: 2rem;
          font-family: Sugar, sans-serif;
          border: 1px solid whitesmoke;
          background: linear-gradient(rgba(0, 0, 0, 0), #000000);
          cursor: pointer;
          color: whitesmoke;
          border-radius: 10px; }
          .wrapper .container #overlay #start input:hover {
            background: linear-gradient(#000000, rgba(0, 0, 0, 0)); }
      .wrapper .container #overlay #restart {
        display: none;
        flex-flow: column wrap;
        justify-content: center; }
        .wrapper .container #overlay #restart .over-menu {
          color: whitesmoke;
          font-family: Sugar, sans-serif;
          text-align: center;
          font-size: 2rem; }
          .wrapper .container #overlay #restart .over-menu div {
            margin: 10px; }
            .wrapper .container #overlay #restart .over-menu div:first-of-type {
              font-size: 3rem;
              font-weight: 900; }
            .wrapper .container #overlay #restart .over-menu div span {
              font-family: fantasy;
              margin-left: 10px;
              font-size: 1.5rem; }
        .wrapper .container #overlay #restart .btn-container {
          display: flex;
          flex-flow: column wrap; }
          .wrapper .container #overlay #restart .btn-container input {
            height: 80px;
            font-size: 2rem;
            font-family: Sugar, sans-serif;
            border: 1px solid whitesmoke;
            background: linear-gradient(rgba(0, 0, 0, 0), #000000);
            cursor: pointer;
            color: whitesmoke;
            border-radius: 10px;
            margin: 0 auto;
            display: none; }
            .wrapper .container #overlay #restart .btn-container input:hover {
              background: linear-gradient(#000000, rgba(0, 0, 0, 0)); }
    .wrapper .container #canvas {
      display: none;
      border: 1px solid #000;
      z-index: 0;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 2px; }
    .wrapper .container aside {
      position: absolute;
      margin-top: 535px;
      width: 100%;
      flex-flow: row wrap;
      justify-content: center;
      text-transform: uppercase;
      color: #fff;
      z-index: 1;
      display: none; }
      .wrapper .container aside .score-info {
        margin-right: 20px; }
  .wrapper footer {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;
    justify-content: center;
    position: relative; }
    .wrapper footer h2 {
      padding-left: 20px;
      position: absolute;
      line-height: 120%; }
    .wrapper footer div {
      width: 100%; }
      .wrapper footer div input {
        border: 1px solid whitesmoke;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0);
        color: whitesmoke;
        font-family: Sugar, sans-serif;
        outline: 0;
        cursor: pointer; }
        .wrapper footer div input:hover {
          background: rgba(0, 0, 0, 0.9); }

/*# sourceMappingURL=style.css.map */