@import url(reset.css);
@font-face {
    font-family: 'Sugar';
    src: url('Fonts/give me some sugar_2.ttf');
}

body {
    background: url(../Images/Backgrounds/planets.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: 2s all;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.wrapper header {
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
}

.wrapper header,
.wrapper footer {
    font-family: Sugar, sans-serif;
    color: #ec7ef5;
    text-align: center;
}

.wrapper .container {
    width: 700px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}

.wrapper .container #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.wrapper .container #overlay #start {
    box-sizing: border-box;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrapper .container #overlay #start .bonusses {
    background: url('../Images/bonus.png') no-repeat;
    background-position: 40px 10px;
}

.wrapper .container #overlay #start .bombs {
    background: url('../Images/bomb.png') no-repeat;
    background-size: 12%;
    background-position: 40px 10px;
}

.wrapper .container #overlay #start .info-wrapper {
    background: rgba(0, 0, 0, 0.5);
    font-family: Sugar, sans-serif;
    width: 200px;
    box-sizing: border-box;
    padding: 10px 0;
}

.wrapper .container #overlay #start .info-wrapper .bomb-info {
    line-height: 200%;
}

.wrapper .container #overlay #start .info-wrapper li {
    padding: 10px;
}

.wrapper .container #overlay #start .info-wrapper li span {
    font-family: Arial, sans-serif;
    color: #ec7ef5;
}

.wrapper .container #overlay #start .info-wrapper div {
    padding-top: 12px;
    font-size: 1.2rem;
    color: #ec7ef5;
    font-weight: bold;
}

.wrapper .container #overlay input {
    height: 80px;
    font-size: 2rem;
    font-family: Sugar, sans-serif;
    border: 1px solid whitesmoke;
    background: linear-gradient(rgba(0, 0, 0, 0), #000000);
    cursor: pointer;
    color: #ec7ef5;
    border-radius: 10px;
    outline: 0;
    box-shadow: 0px 4px 0px #555;
}

.wrapper .container #overlay input:hover {
    background: linear-gradient(#000000, rgba(0, 0, 0, 0));
}

.wrapper .container #restart {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
}

.wrapper .container #restart .over-menu {
    color: whitesmoke;
    font-family: Sugar, sans-serif;
    text-align: center;
    font-size: 2rem;
}

.wrapper .container #restart .over-menu div {
    margin: 10px;
}

.wrapper .container #restart .over-menu div:first-of-type {
    font-size: 3rem;
    font-weight: 900;
    color: #ec7ef5;
}

.wrapper .container #restart .over-menu div span {
    font-family: fantasy;
    margin-left: 10px;
    font-size: 1.5rem;
    color: #ec7ef5;
}

.wrapper .container #restart .btn-container {
    display: flex;
    flex-flow: column wrap;
}

.wrapper .container #restart .btn-container input {
    height: 80px;
    font-size: 2rem;
    font-family: Sugar, sans-serif;
    border: 1px solid whitesmoke;
    background: linear-gradient(rgba(0, 0, 0, 0), #000000);
    cursor: pointer;
    color: #ec7ef5;
    border-radius: 10px;
    outline: 0;
    margin: 0 auto;
    display: none;
}

.wrapper .container #restart .btn-container input:hover {
    background: linear-gradient(#000000, rgba(0, 0, 0, 0));
}

.wrapper #canvas {
    display: none;
    border: 1px solid #000;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.wrapper aside {
    position: absolute;
    margin-top: 535px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    display: none;
}

.wrapper aside .score-info {
    margin-right: 20px;
}

.wrapper aside .score-info span {
    color: #ec7ef5;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;
    justify-content: center;
    position: relative;
}

footer h2 {
    padding-left: 20px;
    position: absolute;
    line-height: 120%;
    font-weight: bold;
}

footer div {
    width: 100%;
}

footer div input {
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-family: Sugar, sans-serif;
    outline: 0;
    cursor: pointer;box-shadow: 0px 3px 0px #555;
}

footer div input:hover {
    background: rgba(0, 0, 0, 0.9);
}
/*# sourceMappingURL=style.css.map */